<h1>DDS imported via NPM</h1>
<h2>Grid</h2>
<div class="dds__container">
    <div class="dds__row">
        <div class="dds__col--1 dds__col--sm-3 dds__col--md-6 dds__mb-3">
            <div class="sample-box">Box in a column</div>
        </div>
        <div class="dds__col--1 dds__col--sm-3 dds__col--md-6 dds__mb-3">
            <div class="sample-box">Box in a column</div>
        </div>
    </div>
    <div class="dds__row">
        <div class="dds__col--2 dds__col--sm-6 dds__col--md-3 dds__mb-3">
            <div class="sample-box">Box in a column</div>
        </div>
        <div class="dds__col--2 dds__col--sm-6 dds__col--md-6 dds__mb-3">
            <div class="sample-box">Box in a column</div>
        </div>
        <div class="dds__col--2 dds__col--sm-6 dds__col--md-3 dds__mb-3">
            <div class="sample-box">Box in a column</div>
        </div>
    </div>
</div>
<h2>Modal</h2>
<div class="dds__container">
    <div class="dds__row">
        <div class="dds__col--2 dds__col--sm-6 dds__col--md-6 dds__mb-3">
        <p>
            This is an out-of-date Modal wrapper; don't follow the code for the modal.
        </p>
        <dds-modal elementId="modal">
            <div modal-title>Modal Title</div>
            <div modal-body>as djlsakd jslakjdslakd jlksad jld jldl jd jslakd jslad jlk</div>
            <div modal-footer>
                <button class="dds__button dds__button--secondary dds__button--md">No</button>
                <button class="dds__button dds__button--md">Yes</button>
            </div>
            <div modal-trigger>
                <button class="dds__button"> Launch modal button </button>
            </div>
        </dds-modal>
    </div>
    <div class="dds__col--2 dds__col--sm-6 dds__col--md-6 dds__mb-3">
        <dds-modal elementId="modal2">
            <div modal-title>Modal Title 2</div>
            <div modal-body>as djlsakd jslakjdslakd jlksad jld jldl jd jslakd jslad jlk</div>
            <div modal-footer>
                <button class="dds__button dds__button--secondary dds__button--md">No</button>
                <button class="dds__button dds__button--md">Yes</button>
            </div>
            <div modal-trigger>
                <button class="dds__button"> Launch modal button </button>
            </div>
        </dds-modal>
    </div>
</div>
</div>