<h1>DDS imported via NPM</h1>
<h2>Grid</h2>
<div class="dds__container">
    <div class="dds__row">
        <div class="dds__col--1 dds__col--sm-3 dds__col--md-6 dds__mb-3">
            <div class="sample-box">Box in a column</div>
        </div>
        <div class="dds__col--1 dds__col--sm-3 dds__col--md-6 dds__mb-3">
            <div class="sample-box">Box in a column</div>
        </div>
    </div>
    <div class="dds__row">
        <div class="dds__col--2 dds__col--sm-6 dds__col--md-3 dds__mb-3">
            <div class="sample-box">Box in a column</div>
        </div>
        <div class="dds__col--2 dds__col--sm-6 dds__col--md-6 dds__mb-3">
            <div class="sample-box">Box in a column</div>
        </div>
        <div class="dds__col--2 dds__col--sm-6 dds__col--md-3 dds__mb-3">
            <div class="sample-box">Box in a column</div>
        </div>
    </div>
</div>
<h2>Modal</h2>
<div class="dds__container">
    <div class="dds__row">
        <div class="dds__col--2 dds__col--sm-12 dds__col--md-12 dds__mb-3">
            <p>
                This is an out-of-date Modal wrapper; don't follow the code for the modal. Please see <a href="https://confluence.dell.com/display/DDSYS/DDS2+Angular+Sandbox">Confluence Angular Sandbox</a> for the most up-to-date wrappers.
            </p>
            <dds-modal elementId="modal">
                <div modal-title>Modal Title 1</div>
                <div modal-body>
                    <p>Cauliflower cheese caerphilly port-salut. Melted cheese cheesecake smelly cheese cheese on toast
                        bocconcini who moved my cheese blue castello macaroni cheese. Macaroni cheese cheese strings
                        camembert de normandie roquefort cheese and biscuits cheese slices dolcelatte manchego. Swiss
                        mascarpone cheese slices camembert de normandie cheddar cheesy feet cheese on toast brie. Cheese
                        and biscuits.
                    <p>Melted cheese airedale brie. Camembert de normandie cheesecake cheese and wine taleggio taleggio
                        chalk and cheese cheesy grin pepper jack. Cream cheese melted cheese dolcelatte parmesan
                        cauliflower cheese squirty cheese dolcelatte port-salut. Blue castello stilton the big cheese
                        say cheese blue castello cow.
                    <p>Bocconcini cheese slices swiss. St. agur blue cheese cheese strings cheese on toast st. agur blue
                        cheese queso rubber cheese feta babybel. Red leicester rubber cheese when the cheese comes out
                        everybody's happy cheese slices blue castello cut the cheese smelly cheese port-salut. The big
                        cheese st. agur blue cheese cow st. agur blue cheese halloumi manchego.
                </div>
                <div modal-footer>
                    <button class="dds__button dds__button--secondary dds__button--md">No</button>
                    <button class="dds__button dds__button--md">Yes</button>
                </div>
                <div modal-trigger>
                    <button class="dds__button"> Launch modal 1 </button>
                </div>
            </dds-modal>
            <dds-modal elementId="modal2">
                <div modal-title>Modal Title 2</div>
                <div modal-body>
                    <p>Melted cheese airedale brie. Camembert de normandie cheesecake cheese and wine taleggio taleggio
                        chalk and cheese cheesy grin pepper jack. Cream cheese melted cheese dolcelatte parmesan
                        cauliflower cheese squirty cheese dolcelatte port-salut. Blue castello stilton the big cheese
                        say cheese blue castello cow.
                    <p>Cheesecake fromage frais cheeseburger. Stilton cut the cheese cow boursin bocconcini cheesy feet
                        edam croque monsieur. Danish fontina say cheese cheese on toast cow goat cheese triangles say
                        cheese lancashire. Ricotta roquefort cauliflower cheese feta cheesy feet lancashire smelly
                        cheese blue castello. Who moved my cheese cheese slices cut the cheese cow.
                    <p>Cauliflower cheese caerphilly port-salut. Melted cheese cheesecake smelly cheese cheese on toast
                        bocconcini who moved my cheese blue castello macaroni cheese. Macaroni cheese cheese strings
                        camembert de normandie roquefort cheese and biscuits cheese slices dolcelatte manchego. Swiss
                        mascarpone cheese slices camembert de normandie cheddar cheesy feet cheese on toast brie. Cheese
                        and biscuits.
                </div>
                <div modal-footer>
                    <button class="dds__button dds__button--secondary dds__button--md">No</button>
                    <button class="dds__button dds__button--md">Yes</button>
                </div>
                <div modal-trigger>
                    <button class="dds__button"> Launch modal 2 </button>
                </div>
            </dds-modal>
        </div>
    </div>
</div>