/* You can add global styles to this file, and also import other style files */
@use "@dds/components/src/scss/dds-reboot-wrapper.scss";
@use "@dds/components/src/scss/dds-main.scss";
@use "@dds/components/src/scss/dds-helpers.scss";
@use "@dds/components/src/scss/dds-icons.scss";
@use "@dds/components/src/scss/dds-fonts.scss";
@use "@dds/components/src/scss/dds-reboot.scss";

.sample-box {
    padding: 0.75rem;
    background-color: #fbebff;
    border: 1px solid #ecc4ff;
}